body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
   
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    height: 100vh; 
    align-items: center;   
    justify-content: center;
}

